.discount_section {
  background: linear-gradient(220deg, #2451c6 0%, #0d50ff 100%);
  border-radius: 12px;
  padding: 32px 32px 0px 32px;

  text-align: center;
}

.content_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.image_content {
  min-width: 200px;
}

.image_content img {
  display: block;
  width: 100%;
}

.form_wrapper {
  flex-shrink: 0;
  color: white;
  padding-bottom: 20px;
  width: 400px;
}

h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #fff;
  
}

@media (max-width: 900px) {
  h2 {
    font-size: 56px;
  }
}

@media (max-width: 800px) {
  .discount_section {
    padding: 32px;
  }

  h2 {
    font-size: 40px;
  }

  .content_wrapper {
    flex-direction: column;

    align-items: center;
  }

  .form_wrapper {
    max-width: 100%;
    width: 100%;
  }

  .image_content img {
    max-width: 350px;
    width: 100%;
  }
}
