.form_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.input_wrapper {
    width: 100%;
    position: relative;
}

input {
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
}

.primary {
    background-color: white;
    border: 1px solid #ddd;
    color: #282828;
}

.primary:focus {
    outline: none;
    border-color: #282828;
}

.transparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.transparent::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.transparent:focus {
    outline: none;
    border-color: #f1f1f1;
}

.input_wrapper:nth-last-child(2) {
  margin-bottom: 16px;
}

.error_message {
    font-size: 12px;
    margin: 4px 0 0 0;
    position: absolute;
}

.error_message_primary {
    color: red;
}

.error_message_transparent {
    color: rgb(253, 200, 200);
    font-weight: 500;
}