.sale_section {
  padding: 40px 0;
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  .products_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  
  .products_grid {
    grid-template-columns: 1fr;
  }
}
